{% extends 'base.html.twig' %}

{% block title %}Dashboard — WebHemi{% endblock %}

{% block body %}
<div {{ react_component('AdminDashboard', {
    userLabel: userLabel,
    navItems: navItems,
    siteCount: siteCount,
    hostCount: hostCount,
    flashes: app.flashes
}) }}></div>
{% endblock %}
