{% extends 'base.html.twig' %}

{% block title %}Hosts — WebHemi{% endblock %}

{% block body %}
<div {{ react_component('HostsPage', {
    userLabel: userLabel,
    navItems: navItems,
    hosts: hosts,
    sites: sites,
    canEdit: canEdit,
    createAction: path('admin_hosts'),
    flashes: app.flashes
}) }}></div>
{% endblock %}
